.hero {
  position: relative;
  background-image: url("https://res.cloudinary.com/dsdmjhkms/image/upload/v1700001005/yrt93iozdc7auzue6mqw.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.text-container {
  width: 50%;
}
