.CardItem{
    background-color: aquamarine;
    margin: 1rem;
    padding: 1rem;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 25vw;
}

picture img{
    height: 40vh;
    width: 15vw;
}